requests>=0.9.1
fancy_tag==0.2.0

# Tests
mock>=0.8.0
Django>=1.3
-e git+git://github.com/sobotklp/django-nose@b3f485e914965e0a7b7012c309864d6a6dcac3ed#egg=django-nose

# Documentation
sphinx>=1.2
sphinx_rtd_theme
